#text {
    margin-top: 100px;
    margin-bottom: 50px;
}

h3 {
    border-bottom: solid 1px #CACACA;
    padding: 10px;
    margin-bottom: 20px;
}

.results {
    display: none;
}

.entity {
    margin: 10px;
}

.year {
    color: #CACACA;
}